{%  extends "base.html" %}

{% block title %}graph Exo 7{% endblock %}

{% block content %}



<p> <span class="badge badge-primary">EXO 7 : </span>  Faire une page avec Flask qui affiche les statistiques de base d'un dataframe que l'utilisateur aurait chargé grâce à un formulaire.</p>

<form action="{{ url_for("exo7_dataset_describe") }}" method="POST" enctype=multipart/form-data>
    <div class="row">
        <div class=col>
            <!-- TODO Contrôler le format de fichier  + ajoutter xls-->
            <label class="text-info" for="dataset">Uploadez votre Dataset au format "csv"</label>
            <input type="file" class="form-control" name="dataset" accept=".csv">
        </div>
        <div class="col">
            <label for="sep" class="text-info">Séparateur</label>
            <select class="form-control" name="sep">
                <option value=",">Virgule</option>
                <option value=";">Point virgule</option>
                <option value=" ">Espace</option>
                <option value="\t">Tabulation</option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Statistiques du dataset</button>
        </div>
    </div>
</form>

{% if data %}
    <h3>Statistiques du dataset "{{ name }}"</h3>

    <table class="table table-bordered table-dark">
        <tr>
            <th class="text-info">Variables </th>
            {% for tete in entete %}
                <th class="text-info" scope="col">{{ tete }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                <th class="text-info" scope="row">{{ row }}</th>
                {% for col in data[row] %}
                    <td>{{ data[row][col] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}



{% endblock %}